/*=============== LOAD ===============*/

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: grid;
  place-items: center;
  z-index: 1000;
}

/* The size may vary depending 
on the image of the gif */

.loader__gif {
  width: 500px;
}
