<section class="blog section" id="blog">
  <div class="blog__container container">
    <h2 class="section__title">
      Our Blogs Coffee with trending topic for this week
    </h2>
    <div class="blog__content grid">
      <article class="blog__card">
        <div class="blog__image">
          <img src="./img/blog1.jpg" alt="" class="blog__img" />
          <a href="#" class="blog__button">
            <i class="bx bx-right-arrow-alt"></i>
          </a>
        </div>
        <div class="blog__data">
          <h2 class="blog__title">10 Coffee Recommendations</h2>

          <p class="blog__description">
            The blogs about coffee will help you a lot about how it is prepared,
            its waiting time, for a good quality coffee
          </p>
          <div class="blog__footer">
            <div class="blog__reaction">
              <i class="bx bx-chat"></i>
              <span>12</span>
            </div>
            <div class="blog__reaction">
              <i class="bx bx-show-alt"></i>
              <span>76,5k</span>
            </div>
          </div>
        </div>
      </article>
      <article class="blog__card">
        <div class="blog__image">
          <img src="./img/blog2.jpg" alt="" class="blog__img" />
          <a href="#" class="blog__button">
            <i class="bx bx-right-arrow-alt"></i>
          </a>
        </div>
        <div class="blog__data">
          <h2 class="blog__title">12 Benefits Of Drinking Coffee</h2>

          <p class="blog__description">
            The blogs about coffee will help you a lot about how it is prepared,
            its waiting time, for a good quality coffee.
          </p>
          <div class="blog__footer">
            <div class="blog__reaction">
              <i class="bx bx-chat"></i>
              <span>45</span>
            </div>
            <div class="blog__reaction">
              <i class="bx bx-show-alt"></i>
              <span>356,5k</span>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
