<footer class="footer">
  <div class="footer__container container">
    <h1 class="footer__title">SteamyBeans</h1>
    <div class="footer__content grid">
      <div class="footer__data">
        <p class="footer__description">Subscribe to our newsletter</p>
        <div class="footer__newsletter">
          <input
            type="email"
            placeholder="Your Email Address"
            class="footer__input"
          />
          <button class="footer__button">
            <i class="bx bx-right-arrow-alt"></i>
          </button>
        </div>
      </div>
      <div class="footer__data">
        <h2 class="footer__subtitle">Address</h2>
        <p class="footer__information">
          1234 - Saint-Petersburg <br />
          Saint-Petersburg, Russia
        </p>
      </div>
      <div class="footer__data">
        <h2 class="footer__subtitle">Contact</h2>
        <p class="footer__information">
          +995 555 555 555 <br />
          steamybeans@gmail.com
        </p>
      </div>
      <div class="footer__data">
        <h2 class="footer__subtitle">Office</h2>
        <p class="footer__information">
          Monday - Saturday <br />
          9AM - 10PM
        </p>
      </div>
    </div>

    <div class="footer__group">
      <ul class="footer__social">
        <a
          href="https://www.facebook.com/"
          target="_blank"
          class="footer__social-link"
          ><i class="bx bxl-facebook"></i
        ></a>
        <a
          href="https://www.instagram.com/"
          target="_blank"
          class="footer__social-link"
          ><i class="bx bxl-instagram"></i
        ></a>
        <a
          href="https://twitter.com/"
          target="_blank"
          class="footer__social-link"
          ><i class="bx bxl-twitter"></i
        ></a>
      </ul>

      <span class="footer__copy"
        ><a href="https://github.com/vlad-ts"
          >&#169; Vlad TS. All rigths reserved</a
        >
      </span>
    </div>
  </div>
</footer>
