<section class="home grid" id="home">
  <div class="home__container">
    <div class="home__content container">
      <h1 class="home__title">
        Welcome to SteamyBeans: Where Coffee Dreams Come True
        <span>.</span>
      </h1>
      <p class="home__description">Buy the best and delicious coffees.</p>

      <div class="home__data">
        <div class="home__data-group">
          <h2 class="home__data-number">120K</h2>
          <h3 class="home__data-title">Testimonials</h3>
          <p class="home-data-description">
            Testimonials from various customers who trust us.
          </p>
        </div>
        <div class="home__data-group">
          <h2 class="home__data-number">340+</h2>
          <h3 class="home__data-title">Exclusive Product</h3>
          <p class="home-data-description">
            Premium preparation with quality ingredients.
          </p>
        </div>
      </div>

      <a href="#specialty">
        <img src="./img/scroll.png" alt="" class="home__scroll" />
      </a>
    </div>
  </div>

  <img src="./img/home.jpg" alt="" />
</section>
