<section class="products section" id="products">
  <div class="products__container container">
    <h2 class="section__title">From Bean to Cup: Our Coffee Selection</h2>

    <ul class="products__filters">
      <li
        class="products__item products__line active-product"
        data-filter=".delicacies"
      >
        <h3 class="products__title">New Delicacies</h3>
        <span class="products_-stock">3 products</span>
      </li>

      <li class="products__item products__line" data-filter=".coffee">
        <h3 class="products__title">Hot Coffee</h3>
        <span class="products_-stock">4 products</span>
      </li>

      <li class="products__item products__line" data-filter=".cake">
        <h3 class="products__title">Cakes And Delicacies</h3>
        <span class="products_-stock">4 products</span>
      </li>
    </ul>

    <div class="products__content grid">
      <!--=========== Delicacies ============-->
      <article class="products__card delicacies">
        <div class="products__shape">
          <img
            src="./img/delicacies1.png"
            alt="cookies with chocolate"
            class="products__img"
          />
        </div>
        <div class="products__data">
          <h2 class="products__price">$5</h2>
          <h3 class="products__name">Cookies</h3>
          <button class="button products_button">
            <i class="bx bx-shopping-bag"></i>
          </button>
        </div>
      </article>
      <article class="products__card delicacies">
        <div class="products__shape">
          <img
            src="./img/delicacies2.png"
            alt="Croissant"
            class="products__img"
          />
        </div>
        <div class="products__data">
          <h2 class="products__price">6$</h2>
          <h3 class="products__name">Croissant</h3>
          <button class="button products_button">
            <i class="bx bx-shopping-bag"></i>
          </button>
        </div>
      </article>
      <article class="products__card delicacies">
        <div class="products__shape">
          <img
            src="./img//delicacies3.png"
            alt="Croissant"
            class="products__img"
          />
        </div>
        <div class="products__data">
          <h2 class="products__price">4$</h2>
          <h3 class="products__name">Croissant</h3>
          <button class="button products_button">
            <i class="bx bx-shopping-bag"></i>
          </button>
        </div>
      </article>
      <!--=========== Coffee ============-->
      <article class="products__card coffee">
        <div class="products__shape">
          <img src="./img/coffee1.png" alt="Coffee" class="products__img" />
        </div>
        <div class="products__data">
          <h2 class="products__price">7$</h2>
          <h3 class="products__name">Black Coffee</h3>
          <button class="button products_button">
            <i class="bx bx-shopping-bag"></i>
          </button>
        </div>
      </article>
      <article class="products__card coffee">
        <div class="products__shape">
          <img src="./img/coffee2.png" alt="Coffee" class="products__img" />
        </div>
        <div class="products__data">
          <h2 class="products__price">12$</h2>
          <h3 class="products__name">Pure Coffee</h3>
          <button class="button products_button">
            <i class="bx bx-shopping-bag"></i>
          </button>
        </div>
      </article>
      <article class="products__card coffee">
        <div class="products__shape">
          <img src="./img/coffee3.png" alt="Coffee" class="products__img" />
        </div>
        <div class="products__data">
          <h2 class="products__price">9$</h2>
          <h3 class="products__name">Milk Coffee</h3>
          <button class="button products_button">
            <i class="bx bx-shopping-bag"></i>
          </button>
        </div>
      </article>
      <article class="products__card coffee">
        <div class="products__shape">
          <img src="./img/coffee4.png" alt="Coffee" class="products__img" />
        </div>
        <div class="products__data">
          <h2 class="products__price">9$</h2>
          <h3 class="products__name">Moka Coffee</h3>
          <button class="button products_button">
            <i class="bx bx-shopping-bag"></i>
          </button>
        </div>
      </article>
      <!--=========== Cakes ============-->
      <article class="products__card cake">
        <div class="products__shape">
          <img src="./img//cake1.png" alt="Cake" class="products__img" />
        </div>
        <div class="products__data">
          <h2 class="products__price">6$</h2>
          <h3 class="products__name">Cream Cake</h3>
          <button class="button products_button">
            <i class="bx bx-shopping-bag"></i>
          </button>
        </div>
      </article>
      <article class="products__card cake">
        <div class="products__shape">
          <img src="./img//cake2.png" alt="Cake" class="products__img" />
        </div>
        <div class="products__data">
          <h2 class="products__price">5$</h2>
          <h3 class="products__name">Chocolate Croissant</h3>
          <button class="button products_button">
            <i class="bx bx-shopping-bag"></i>
          </button>
        </div>
      </article>
      <article class="products__card cake">
        <div class="products__shape">
          <img src="./img//cake3.png" alt="Cake" class="products__img" />
        </div>
        <div class="products__data">
          <h2 class="products__price">15$</h2>
          <h3 class="products__name">Pancake</h3>
          <button class="button products_button">
            <i class="bx bx-shopping-bag"></i>
          </button>
        </div>
      </article>
      <article class="products__card cake">
        <div class="products__shape">
          <img src="./img//cake4.png" alt="Cake" class="products__img" />
        </div>
        <div class="products__data">
          <h2 class="products__price">12$</h2>
          <h3 class="products__name">Milk Cake</h3>
          <button class="button products_button">
            <i class="bx bx-shopping-bag"></i>
          </button>
        </div>
      </article>
    </div>
  </div>
</section>
