<section class="quality section" id="premium">
  <div class="quality__container container">
    <h2 class="section__title">
      High-Quality Coffee: Provide a range of premium coffees made from
      high-quality beans, ensuring a delightful and flavorful experience.
    </h2>

    <div class="quality__content grid">
      <div class="quality__images">
        <img src="./img/quality1.jpg" alt="" class="quality__img-big" />
        <img src="./img/quality2.jpg" alt="" class="quality__img-small" />
      </div>
      <div class="quality__data">
        <h1 class="quality__title">Premium Coffee</h1>
        <h2 class="quality__price">$94.99</h2>
        <span class="quality__special">Especial Price</span>
        <p class="quality__description">
          We are delighted with our coffee. That's why you get the best premium
          coffee plus the kettle made of resistant materials that you see in the
          image, for a special price.
        </p>

        <div class="quality__buttons">
          <button class="button">Buy Now</button>
          <a href="#" class="quality__button">
            See more
            <i class="bx bx-right-arrow-alt"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
